footer,
.navbar-nav .dropdown-menu, .clients ul {
    background-color: #383f48 !important;
}
 .mainSlider{
  background: linear-gradient(273deg, black 43%, transparent);
}
.navbar-fixed-top.scrolled {
  background-color: #383f48 !important;
  transition: background-color 200ms linear;
}
.about .row h2,
.services .container .row i,
.teamWork .OurTeam h2,
.teamWork .OurTeam .members h3,
.progressSection h2,
.progressSection button,
.subscripe h3,
.contact-us .contact button,
.contact-us .contact h2,
.navbar .logo h1,
footer .footerp span,
footer .news h6,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-brand,
.navbar-nav .dropdown-menu .dropdown-item,
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus,
.carousel-caption .btn-default:hover,
.navbar-dark .form-inline .btn-success,
footer .footerp,.contact-us .contact h2 i, .themes-box h6, .clients ul li
{
    color: #0169fe;

}
.carousel-inner .carousel-caption .caption h1{    color: #0169fe;}
.about .row h2,
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
  text-shadow: 1px 3px 10px #0169fe;
    font-family: fantasy;
}
.navbar-nav .dropdown-menu{border-top: solid 2px #0169fe;}
.services .container .row i:hover{text-shadow: 0px 0px 30px #0169fe; }
.progressSection button:hover{box-shadow: 0px 0px 20px #0169fe;}

.navbar-dark .form-inline .btn-success:hover,
.navbar-nav .dropdown-menu .dropdown-item:hover,
.progressSection button:hover
{
  background-color: #0169fe;
}

.navbar-dark .form-inline .btn-success,
.navbar-dark .form-inline .btn-success:hover
{
       border-color: #0169fe; 
}
 .services .even{background-color: #383f48}
 .services .odd{background-color: #b9d4ec}